!!!
%html{:lang => 'en'}

  %head
    %meta{:charset => 'utf-8'}
    %link{:href => '/application.css', :media => 'screen', :rel => 'stylesheet'}
    %meta{:content => 'width=device-width, initial-scale=1.0, user-scalable = no, maximum-scale=1.0', :name => 'viewport'}
    %meta{:content => 'black', :name => 'apple-mobile-web-app-status-bar-style'}
    %meta{:content => 'yes', :name => 'apple-mobile-web-app-capable'}
    %meta{:content => 'Eric Horacek', :name => 'author'}
    %link{:href => '/assets/css/ss-standard.css', :media => 'screen', :rel => 'stylesheet'}
    %title= "Eric Horacek"

  %body
    = yield

  %script{ src: '//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
  %script{ src: '/assets/scripts/retina.js' }
  %script{ src: '/assets/scripts/swipe.js' }
  %script{ src: '/assets/scripts/ss-standard.js' }
  %script{ src: '/assets/scripts/dropdown.js'}
  %script{ src: '/application.js' }
